*{
    padding: 0;
    margin: 0;
   }
   body{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    color: #444444;
}
li{
    list-style-type: none;
}
.clear{
    clear: both;
}
header{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: linear-gradient( to top, #94716B,#B79891);
    position: fixed;
    top: 0;   
}
#logo{
    float: left;
    margin: 0px 0 0 100px;
   
}
#menus{
    float: right;
    margin-right: 60px;
    margin-top: 18px;
    color: #F8EDE3;
   
}
#top_menu{
    text-align: right;
    margin-top: 20px;
    
}
#main_menu{
    margin-top: 20px;
   
    font-size: 20px; 
     color: #F8EDE3;
   
   
}
#main_menu li{
   
   display: inline;
   margin-left: 80px;
}

#main_img{
    width: 100%;
    height: 90px;
    background-image: url(./img/bar.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 80px;
}
#contents{
    width: 1140px;
    margin: 0 auto;
}
#sub_menu{
    width: 234px;
    float: left;
    margin-top: 25px;
 
}
#sub_menu h3{
    font-size: 18px;
    color: #ffffff;
    padding: 12px;
    background-color: #516e7f;
    
}
#sub_menu li{
    padding: 10px;
    border-bottom: dotted 1px #cccccc;
}
#main_contents{
    width: 880px;
    float: right;
    margin-top: 25px;
    
}
#main_contents h3{
    font-size: 22px;
    padding-bottom: 8px;
    border-bottom: solid 1px #cccccc;
}
#main_contents p{
    margin-top: 30px;
    line-height: 180%;
}
#main_contents #figure{
    margin-top: 30px;
    text-align: center;
}
#main_contents li{
    padding: 5px;
}
footer{
    width: 100%;
  height: 150px;
 margin-top: 50px;
    background-color: #0000007b;
}
#footer_box{
    width: 100%;
    
    margin-top: 100px
   
}
#footer_logo{
    float: left;
    margin: 20px 0 0 30px;
    
    
}
#address{
    float: right;
    margin: 50px 30px 0 0;
    color: white;
    text-align:right;
    
    
}
   /* unvisited link*/
   a:link{
            color: #F8EDE3;
            text-decoration: none; 
            font-family: 'NanumSquareNeo-Variable';
        }

        /* visited link */
        a:visited{
            color: #F8EDE3;
            font-family: 'NanumSquareNeo-Variable';
        }
        
        /* mouse over link */
        a:hover{
            color: rgb(255, 213, 0);
            font-family: 'NanumSquareNeo-Variable';
        }

        /* selected link */
        a:active{
            color: yellowgreen;
            font-family: 'NanumSquareNeo-Variable';
        }



         /* unvisited link*/
   .aa:link{
            color: #555555;
            text-decoration: none; 
            font-family: 'NanumSquareNeo-Variable';
        }

        /* visited link */
        .aa:visited{
            color: #555555;
            font-family: 'NanumSquareNeo-Variable';
        }
        
        /* mouse over link */
        .aa:hover{
            color: rgb(255, 213, 0);
            font-family: 'NanumSquareNeo-Variable';
        }

        /* selected link */
        .aa:active{
            color: yellowgreen;
            font-family: 'NanumSquareNeo-Variable';
        }
        .ma{
            margin-left: 20px;
        }
        .mam{
            margin-left: 20px;
        }




.btn, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn10{
padding: 5px 0px;
margin:0px 4px;
color: #fff;
font-family: sans-serif;
text-transform: uppercase;
text-align: center;
position: relative;
text-decoration: none;
display:inline-block;
font-family: 'GongGothicMedium';

}

.btn4::before {
content: '';
position: absolute;
bottom: 0%;
left: 0px;
width: 100%;
height: 3px;
background: #FEE0C0;
display: block;
-webkit-transform-origin: right top;
-ms-transform-origin: right top;
transform-origin: right top;
-webkit-transform: scale(0, 1);
-ms-transform: scale(0, 1);
transform: scale(0, 1);
-webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
transition: transform 0.4s cubic-bezier(1, 0, 0, 1)

}

.btn4:hover::before {
-webkit-transform-origin: left top;
-ms-transform-origin: left top;
transform-origin: left top;
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
transform: scale(1, 1)
}

h4{
    font-size: 20px;
    text-decoration: underline;

}

.op{
    opacity: 80%;
}
