<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="./gogo.css" rel="stylesheet">

</head>
<body>

    <header>

        <div id="logo">
            <img src="./img/lologo.png">
        </div>

   

    <nav id="menus">

        <ul id="main_menu">
            <li><a href="a.html" class="btn4 de">아르누보</a></li>
            <li><a href="a2.html" class="btn4 de">아르데코</a></li>
            <li><a href="a3.html" class="btn4 de">모더니즘</a></li>
            <li><a href="a4.html" class="btn4 de">포스트모더니즘</a></li>
            <li><a href="a5.html" class="btn4 de">동시대</a></li>
        </ul>
    </nav>
     </header>
     <div class="clear"></div>
     <section id="main_img"></section>

     <video width="100%" autoplay controls loop>
        <source src="book.mp4" type="video/mp4">
        <source src="book.mp4" type="video/webm">
        <source src="book.mp4" type="video/ogg">
    </video>

     <section id="contents">
        <br>
        <br>
        <br>
        <br>
        <h1>시대를 선택해주세요</h1>
        <br>
        <br>

    <div class="col-sm-3 c ">

       <div class="c-fadeimg">
      
          <a th:href="@{/page/request}" a href="a.html">
      
            <img class="c-bottom" src="./img/arnu.png" >
      
            <img class="c-top"    src="./img/arnunu.png">
      
          </a>
      
        </div>
      
      </div>
  </li>
    
     <li> <div class="col-sm-3 d">
    
        <div class="c-fadeimg">
      
          <a th:href="@{/page/request}" a href="a2.html">
      
            <img class="c-bottom" src="./img/ardeco.png" >
      
            <img class="c-top"    src="./img/ardecoco.png">
      
          </a>
      
        </div>
      
      </div>
</li>
<li>
      <div class="col-sm-3 c">
    
        <div class="c-fadeimg">
      
          <a th:href="@{/page/request}" a href="a3.html">
      
            <img class="c-bottom" src="./img/moder.png" >
      
            <img class="c-top"    src="./img/modern.png">
      
          </a>
      
        </div>
      
      </div>
      </li>
      <li>
        <div class="col-sm-3 d">
      <div class="c-fadeimg">
      
        <a th:href="@{/page/request}" a href="a4.html">
    
          <img class="c-bottom" src="./img/post.png" >
    
          <img class="c-top"    src="./img/postmo.png">
    
        </a>
    
      </div>
    
    </div>
    </li>
    <li>
        <div class="col-sm-3 c">
    <div class="c-fadeimg">
      
        <a th:href="@{/page/request}" a href="a5.html">
    
          <img class="c-bottom" src="./img/dong.png" >
    
          <img class="c-top"    src="./img/dongdo.png">
    
        </a>
    
      </div>
    
    </div>
    </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


        

     
        <div id="main_contents">
        
        </div>
     </section>
     <div class="clear"></div>
     <footer>
        <div id="footer box">
            <div id="footer_logo">
                <img src="./img/lologo.png"  class="op"> 
                
                
        </div>

        <ul id="address" class="op">
            <li>경기도 광명시 철산동 오리로 835 센트럴 프루지오</li>
            <li>TEL: 010-6299-0114 Email: hyungi6299@naver.com</li>
            <li>COPYRIGHT(C) 김현기 ALL RIGHTS RESERVED</li>
        </ul>
        </div>
     </footer>
</body>
</html>